body{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 10px;
}
ul{
    list-style-type: none;
}
ul li{
    display: inline;
    margin-right: 30px;
}
ul li a{
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;
    font-size: 20px;
}
#products{
    display: flex;
    justify-content: space-around;
}
.product{
    border: 5px solid;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    text-align: center;
}
button{
    background-color: black;
    color: antiquewhite;
    border-radius: 5px;
    padding: 10px;
    border: none;
}
button:hover{
    background-color: brown;
}
footer{
    background-color: black;
    color: bisque;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom:0px ;
    width: 100%;
}